{% extends "base.html" %}

{% block content %}
<h1>Alle Lebensmittel</h1>
<div class="grocery-table">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Lebensmittel</th>
                <th>Preis [CHF]</th>
                <th>Qualität</th>
                <th>Laden</th>
                <th>Produktname</th>
                <th>Kategorie</th>
                <th>Gewicht [g]</th>
            </tr>
        </thead>
        <tbody>
            {% for grocery in products %}
            <tr>
                <td>{{ grocery.lebensmittel }}</td>
                <td>{{ grocery.preis }}</td>
                <td>{{ grocery.quali }}</td>
                <td>{{ grocery.laden }}</td>
                <td>{{ grocery.produktname }}</td>
                <td>{{ grocery.kategorie }}</td>
                <td>{{ grocery.zusatz}}</td>
                <td></td>
                <td><a href="{{ url_for('delete', id=grocery.id) }}">Löschen</a> <a href="{{ url_for('update', id=grocery.id) }}">Ändern</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<h1>Fügen Sie einen Einkauf hinzu</h1>
<p>{{ message }}</p>
<form method="post" action="{{url_for("add_grocery")}}">
    <table>
        <tbody>
            <tr>
                <td>Lebensmittel</td>
                <td><input type="text" name="lebensmittel" required></td>
            </tr>
            <tr>
                <td>Preis [CHF]</td>
                <td><input type="number" name="preis" step=".01" required></td>
            </tr>
            <tr>
                <td>Qualität</td>
                <td><input type="text" name="quali" required></td>
            </tr>
            <tr>
                <td>Lebensmittelanbieter</td>
                <td>
                    <select name="anbieter" id="anbieter">
                        {% for anbieter in anbieter%}
                            <option value="{{anbieter.name}}">{{anbieter.name}}</option>
                        {%endfor%}
                    </select>                
                </td>
            </tr>
            <tr>
                <td>Produktname</td>
                <td><input type="text" name="produktname" required></td>
            </tr>
            <tr>
                <td>Kategorie</td>
                <td>
                    <select name="category" id="category">
                        {% for category in cat %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Gewicht [g]</td>
                <td><input type="number" name="zusatz" step=".01" required></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" id="newgrocery"></td>
            </tr>
        </tbody>
    </table>
</form>
<hr>
<form method="post" action="{{url_for("add_category")}}">
    <table>
        <th>
            <tr>
                <label for="cat">Neue Kategorie hinzufügen</label>
                <td><input type="text" name="cat" action="{{ url_for("admin")}}"></td><td><input type="submit" form="newcategory"></td>
            </tr>
        </th>
        <tbody>
            {% for category in cat %}
            <tr>
                <td>
                    {{category.name}}
                </td>
                <td>
                    <a href="{{ url_for("catdel", id=category.id) }}">Löschen</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<hr>
<form method="post" action="{{url_for("add_anbieter")}}">
    <table>
        <th>
            <tr>
                <label for="anbieter">Neuen Anbieter hinzufügen</label>
                <td><input type="text" name="anbieter" action="{{ url_for("admin")}}"></td><td><input type="submit" form="newanbieter"></td>
            </tr>
        </th>
        <tbody>
            {% for anbieter in anbieter %}
            <tr>
                <td>
                    {{anbieter.name}}
                </td>
                <td>
                    <a href="{{ url_for("anbieter_delete", id=anbieter.id) }}">Löschen</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}