<form method="post">
    <div class="update-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Information</th>
                    <th>Eingabe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Preis:</td>
                    <td><input type="text" min="1" name="preis" value="{{ grocery.preis }}" required></td>
            </tbody>
        </table>
    </div>
<input type="submit">
</form>